<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>employeedatabase</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>CreateEmployee</servlet-name>
  <servlet-class>com.teamsankya.employeedatabase.controller.CreateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CreateEmployee</servlet-name>
  <url-pattern>/create</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>UpdateEmployee</servlet-name>
  <servlet-class>com.teamsankya.employeedatabase.controller.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UpdateEmployee</servlet-name>
  <url-pattern>/update</url-pattern>
 </servlet-mapping>
 
  <servlet>
  <servlet-name>DeleteEmployee</servlet-name>
  <servlet-class>com.teamsankya.employeedatabase.controller.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DeleteEmployee</servlet-name>
  <url-pattern>/delete</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>GetEmployee</servlet-name>
  <servlet-class>com.teamsankya.employeedatabase.controller.GetEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>GetEmployee</servlet-name>
  <url-pattern>/search</url-pattern>
 </servlet-mapping>

</web-app>